.toplevel_page_WPBookList-Options .dashicons-before img {
    width: 30px!important;
    margin-right: 2px!important;
    padding: 2px 0 0!important;
}

#wpbooklist-addbook-form input[type="text"], #wpbooklist-addbook-form input[type="number"], #wpbooklist-editbook-form input[type="text"], #wpbooklist-editbook-form input[type="number"]{
    width: 85%;
    margin: 5px;
}

#wpbooklist-addbook-form input[type="checkbox"], #wpbooklist-editbook-form input[type="checkbox"]{
    margin-left: 5px;
}

#wpbooklist-addbook-form textarea, #wpbooklist-editbook-form textarea{
    width: 93%;
    margin: 5px;
}

#wpbooklist-addbook-form .wpbooklist-addbook-select-default, .wpbooklist-editbook-select-default{
    margin-left: auto!important;
    margin-right: auto!important;
    display: block;
}

#wpbooklist-addbook-rating, #wpbooklist-editbook-rating{
    width: 94%;
    margin: 5px;
}

#wpbooklist-addbook-signed-first-table, #wpbooklist-editbook-signed-first-table{
    width:100%;
    margin-top:20px;
    margin-bottom:40px;
}

#wpbooklist-addbook-form #wpbooklist-addbook-signed-first-table label, #wpbooklist-addbook-page-post-row .wpbooklist-addbook-post-page-checkboxes label, #wpbooklist-editbook-form #wpbooklist-editbook-signed-first-table label, #wpbooklist-editbook-page-post-row .wpbooklist-editbook-post-page-checkboxes label{
    top: 0px;
    margin: 0;
    margin-left: 5px;
    margin-top: 10px;
    position:relative;
}

.wpbooklist-addbook-post-page-checkboxes, .wpbooklist-editbook-post-page-checkboxes{
    padding-bottom: 20px;
    text-align:center;
    position: relative;
    right: 5px;
}

#wpbooklist-addbook-page-post-create-label-row, #wpbooklist-editbook-page-post-create-label-row{
    text-align:center;
}

#wpbooklist-addbook-form #wpbooklist-addbook-image, #wpbooklist-editbook-form #wpbooklist-editbook-image{
    width:58%;
    vertical-align: top;
    margin-bottom:25px;
}

#wpbooklist-addbook-form #wpbooklist-addbook-date-finished, 
#wpbooklist-editbook-form #wpbooklist-editbook-date-finished{
    position: absolute;
    width: 155px;
    opacity:0;
}

#wpbooklist-admin-addbook-button, #wpbooklist-admin-editbook-button{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 5px;
    margin-bottom:20px;
}

#wpbooklist-admin-editbook-button, #wpbooklist-admin-cancel-button{
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    margin-top: 5px;
    margin-bottom:20px;
    width:100px;
}

#wpbooklist-editbook-add-cancel-div {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

#wpbooklist-editbook-add-cancel-div{

}

#book-date-finished-label{
    display: block;
    margin-left: 5px;
    margin-top: 10px;
    opacity:0;
}

#wpbooklist-authorize-amazon-container{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    position: relative;
    text-align: center;
    bottom: 15px;
}

#wpbooklist-use-amazon-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

#wpbooklist-use-amazon-container table{
    width:100%;
}

#wpbooklist-use-amazon-container p{
    margin: 0;
    width: 100%;
}

#wpbooklist-use-amazon-container label{
    top:0px;
    margin-left:0px;
    margin-right:10px;
}

#wpbooklist-use-amazon-container input{
    margin-right:0px;
}

#wpbooklist-authorize-amazon-container table{
    width:100%;
    text-align:center;
}

#wpbooklist-authorize-amazon-container p{
    margin-bottom:0px;
    font-style:italic;
}

#wpbooklist-authorize-amazon-container label{
    top: 0px;
    margin-left: 0px;
}

#wpbooklist-authorize-amazon-container input{
    top: 0px;
    margin-right: 0px;
}

#wpbooklist-addbook-select-library-label, #wpbooklist-editbook-select-library-label{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 0px;
    font-weight:bold;
    font-size:14px;
}

#wpbooklist-color-red-italic{
    color:red;
    font-style:italic;
}

.wpbooklist-color-orange-italic{
    color:#F05A1A;
    font-style:italic;
}

.wpbooklist-color-orange-bold{
    color:#F05A1A;
    font-weight:bold;
}

#wpbooklist-addbook-upload_image_button, #wpbooklist-editbook-upload_image_button{
    margin-left: 5px;
    position: relative;
    top: 2px;
}

#wpbooklist-addbook-preview-img, #wpbooklist-editbook-preview-img{
    width: 50px;
    position: absolute;
    top: -28px;
    right: 15%;
}

#wpbooklist-addbook-signed-question, #wpbooklist-addbook-signed-td, #wpbooklist-editbook-signed-question, #wpbooklist-editbook-signed-td{
    position:relative;
    right:50px;
}

#wpbooklist-addbook-first-edition-question, #wpbooklist-addbook-firstedition-td, #wpbooklist-editbook-first-edition-question, #wpbooklist-editbook-firstedition-td{
    position:relative;
    right:80px;
}

#wpbooklist-addbook-rating-img, #wpbooklist-editbook-rating-img{
    width: 65px;
    position: relative;
    top: 4px;
    right: 2px;
}

#wpbooklist-addbook-form #wpbooklist-addbook-sale-author-link, #wpbooklist-editbook-form #wpbooklist-editbook-sale-author-link, #wpbooklist-editbook-form #wpbooklist-editbook-amazon-buy-link, #wpbooklist-editbook-form #wpbooklist-editbook-google-play-buy-link, #wpbooklist-editbook-form #wpbooklist-editbook-books-a-million-buy-link{
    width: 93%;
}

.wpbooklist-addbook-page-post-label, .wpbooklist-editbook-page-post-label{
    display:inline-block;
    text-align:center;
    padding-top:10px;
}

.wpbooklist-spinner{
    opacity: 0;
    height: 20px;
    width: 20px;
    margin: 10px auto;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-top: 1px solid #F05A1A;
    border-radius: 100%;
    position: relative;
}

.wpbooklist-spinner-pending{
    opacity: 0; 
    height: 15px;
    width: 15px;
    margin: 10px auto;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-top: 1px solid #F05A1A;
    border-radius: 100%;
    bottom: 30px;
    position: relative;
}

#wpbooklist-addbook-date-finished-td, #wpbooklist-editbook-date-finished-td{
    position:relative;
}

.wpbooklist-success{
    cursor:pointer;
}

#wpbooklist-addbook-success-div, #wpbooklist-editbook-success-div, #wpbooklist-addstylepak-success-div, #wpbooklist-addbackup-success-div, #wpbooklist-addtemplate-success-div{
    text-align:center;
    width: 65%;
    margin-left: 17.5%;
    margin-right: 17.5%;
    line-height:1.5;
}

#wpbooklist-addbackup-success-div{
    margin-bottom:40px;
}

#wpbooklist-addstylepak-success-div, #wpbooklist-addtemplate-success-div{
    line-height: 1.5;
    margin-bottom:30px;
}

#wpbooklist-apply-library-backup-csv, #wpbooklist-apply-library-stylepak, #wpbooklist-apply-library-backup, #wpbooklist-apply-library-restore{
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    bottom: 20px;
}

#wpbooklist-apply-post-template, #wpbooklist-apply-page-template{
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    top: 20px;
    margin-bottom:40px;
}

.wpbooklist-show-book-colorbox{
    text-decoration:underline;
    cursor:pointer;
}

.wpbooklist-success-page-post{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    text-align: center;
    color: #F05A1A;
    position: absolute;
    top: 135px;
}

#wpbooklist-success-view-page{
    top:155px;
}

.wpbooklist-success-page-post{
    opacity:0;
}

#wpbooklist-addbook-success-shortcode, #wpbooklist-editbook-success-shortcode{
    font-weight: bold;
    margin-bottom: 20px;
    display: inline-block;
}

#wpbooklist-add-book-success-span{
    font-style:italic;
    color:#F05A1A;
    font-size: 16px;
}

#wpbooklist-smile-icon-1{
    width: 15px;
    position: relative;
    top: 3px;
    left:5px;
}

#wpbooklist-addbook-success-thanks, #wpbooklist-editbook-success-thanks{
    margin-top:34px;
    line-height:1.5;
}

#wpbooklist-addstylepak-success-thanks{
    margin-top:10px;
    line-height:1.5;
}

#wpbooklist-addbook-success-review-link, #wpbooklist-editbook-success-review-link{
    color:#F05A1A;
}

#wpbooklist-addbook-container p, #wpbooklist-editbook-container p{
    text-align:center;
}

.wpbooklist-jre-cover-shortcode-class, .wpbooklist-jre-cover-shortcode-class-orange{
    font-weight: bold;
}

.wpbooklist-jre-cover-shortcode-class-orange{
    color: #F05A1A;
    display: inline-block;
    text-align: center;
    width: 100%;
}

#wpbooklist-custom-libraries-container a{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    line-height: 1.8;
}

#wpbooklist-dynamic-input-library{
    width:100%;
}

#wpbooklist-use-shortcodes-p{
    text-align:center;
    font-size:16px;
}

.wpbooklist-margin-right-td{
    margin-right:35px;
    display:block;
}

#wpbooklist-jre-backend-options-table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#wpbooklist-library-display-p{
    text-align:center;
}

#wpbooklist-library-settings-select{
    margin-left: auto!important;
    margin-right: auto!important;
    display: block;
}

#wpbooklist-enable-purchase-div {
    font-style: italic;
    border: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-width: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align:center;
}

#wpbooklist-enable-purchase-p {
    border: none;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    position: relative;
    bottom: 7px;
    text-align: justify;
}

#wpbooklist-enable-purchase-actual-div {
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
    bottom: 10px;
    text-align:center;
}

#wpbooklist-stylepak-demo-links {
    text-align: center;
    position: relative;
    font-size: 12px;
    text-align:center;
    margin-bottom:20px;
    margin-top:20px;
    line-height:2;
}

#wpbooklist-library-options-lower-table{
    margin-left: auto;
    margin-right: auto;
}

#wpbooklist-save-backend, #wpbooklist-save-post-backend, #wpbooklist-save-page-backend{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.wpbooklist-library-display-question{
    top: 2px;
    margin-right: 3px;
    width: 12px;
    position: relative;
}

.wpbooklist-edit-book-title, .wpbooklist-edit-book-author{
    margin-top:0px;
    display:inline-block;
}

.wpbooklist-edit-book-indiv-div-class{
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.wpbooklist-edit-book-author{
    width: 70%;
    vertical-align: text-top;
}

.wpbooklist-edit-book-indiv-div-class{
    border: 1px solid #e5e5e5;
    padding: 10px;
    margin-bottom:10px;
    display:block;
    position:relative;
    min-height:100px;
    width:97%;
}

.wpbooklist-search-indiv-container{
    display:block;
    position:relative;
    min-height:100px;
    width:97%;
}

.wpbooklist-edit-title-div{
    width:75%;
}

.wpbooklist-edit-actions-div{
    width:20%;
    text-align: center;
}

.wpbooklist-edit-actions-div div{
    margin:5px;
    background-color:#F05A1A;
    padding:7px;
    padding-left: 0;
    margin:5px;
    border-radius:5px;
    color:white;
    position:relative;
    cursor:pointer;
}

.wpbooklist-book-icon-author{
    width: 17px;
    display: inline-block;
    margin-left: 8px;
    position: relative;
    top: 5px;
    margin-right: 3px;

}

.wpbooklist-edit-book-icon-button{
    position: absolute;
    right: 30px;
    bottom: 6px;
    width: 16px;
    display: inline-block;

}

.wpbooklist-edit-actions-div .wpbooklist-edit-actions-delete-button{
    padding-right:20px;
}

.wpbooklist-edit-book-title{
    font-size: 15px;
    font-weight: bold;
    margin: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-variant: small-caps;
    width:75%;
}

.wpbooklist-edit-actions-div .wpbooklist-edit-actions-edit-button{
    margin-bottom:10px;
    padding-right:15px;
}

.wpbooklist-edit-title-div, .wpbooklist-edit-actions-div{
    display:inline-block;
}

.wpbooklist-edit-form-div{
    opacity:0;
}

.wpbooklist-edit-form-div #wpbooklist-editbook-signed-first-table{
    margin-bottom:0px;
}

#wpbooklist-edit-books-lib-div, #wpbooklist-edit-books-search-div{
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

#wpbooklist-edit-books-search-div label{
    margin-right: 5px;
}

#wpbooklist-edit-books-search-div input[type="checkbox"]{
    margin-right: 15px;
}

#wpbooklist-edit-book-search-input{
    width: 200px;
    margin-top: 10px;
    margin-bottom: 40px;
}

#wpbooklist-edit_books-pagination-div{
  
}

.wpbooklist-edit-book-icon-back{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

#wpbooklist-edit_books-pagination-div div{
    display: inline-block;
    background-color: #F05A1A;
    cursor: pointer;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 5px;
    color: white;
    text-align:center;
    vertical-align: top;
    width: 180px;
    margin-top: 20px;
    margin-bottom: 20px;
}



#wpbooklist-edit-next-100{
    float:right;
}

.wpbooklist-edit-book-icon-back, .wpbooklist-edit-book-icon-next{
    width: 20px;
    position: relative;
    top: 6px;
    margin-left: 5px;
    margin-right: 5px;
}

.wpbooklist-admin-tp-inner-container{
    position:relative;
}

#wpbooklist-spinner-pagination{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom:20px;
}

#wpbooklist-edit-books-lib-p{

}

#wpbooklist-edit-books-lib-search-div{
    text-align:center;
    position:relative;
    margin-bottom: 30px;
}

#wpbooklist-spinner-edit-change-lib{
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;

}

#wpbooklist-spinner-backup, #wpbooklist-spinner-restore-backup{
    bottom:15px;
}

#wpbooklist-edit-previous-100{
    opacity:0.3;
    pointer-events:none;
}

#wpbooklist-search-results-info{
    text-align: center;
    position: relative;
    bottom: 10px;
}

.wpbooklist-edit-book-cover-img{
    width: 60px;
    float: left;
    margin-right: 20px;
}

.wpbooklist-edit-actions-div .wpbooklist-edit-book-delete-page-post-div{
    background-color: transparent;
    color: black;
    text-align: left;
    position: absolute;
    right: 42px;
}

.wpbooklist-edit-book-delete-page-post-div label{
    margin-right: 5px;
    margin-bottom: 10px;
    display: inline-block;
}

.wpbooklist-edit-book-delete-page-post-div input{
    position: relative;
    bottom: 4px;
}

.wpbooklist-delete-result{
    text-align:center;
    line-height:1.5;
}

#wpbooklist-display-opt-check-div{
    text-align: center;
    position: relative;
    bottom: 15px;
}

#wpbooklist-api-settings-container p{
  text-align: center;  
}

#wpbooklist-api-settings-container label{
    width: 145px;
    display: inline-block;
    font-weight: bold;
}

#wpbooklist-api-settings-container table{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 20px;
}

#wpbooklist-api-settings-container button{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px;
}

#wpbooklist-api-settings-container input{
    margin-right:5px;
}

#wpbooklist-buy-library-stylepaks-div{
    text-align:center;
}

#wpbooklist-stylepak-buy-link img{
    width:200px;
    border-radius:5px;
}

#wpbooklist-upload-stylepaks-div{
    text-align: center;
    margin-top: 20px;
}

#wpbooklist-select-library-stylepak, #wpbooklist-select-post-template, #wpbooklist-select-page-template{
    margin-left: auto!important;
    margin-right: auto!important;
    width: 200px;
    display: block;
    margin-top: 10px!important;
}

#wpbooklist-backup-csv-select-library, .wpbooklist-stylepak-select-default, .wpbooklist-backup-select-default, #wpbooklist-select-library-backup, #wpbooklist-select-actual-backup{
    margin-left: auto!important;
    margin-right: auto!important;
    width: 150px;
    display: block;
    margin-top: 10px!important;
    margin-bottom: 40px!important;
}

#wpbooklist-select-library-backup{
    width:215px;
    margin-bottom:10px;
}

#wpbooklist-stylepak-select-library-label, #wpbooklist-backup-select-library-label{
    text-align: center;
    margin-top: 20px;
}

#wpbooklist-stylepak-select-stylepak-label{
    text-align: center;
    margin-top: 50px;
}

#wpbooklist-stylepak-heading-left{
    margin-right:20px;
}

.wpbooklist-stylepak-table-heading{
    margin-bottom: 5px;
    font-size: 17px;
    font-weight: bold;
    margin-right: 20px;
    margin-left: 20px;
}

#wpbooklist-stylepak-heading-row{
    text-decoration-line: underline;
    text-decoration-color: #F05A1A;
    font-variant: small-caps;
    text-underline-position: under;
    border: solid 1px black;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#wpbooklist-stylepak-table-container table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border: solid 1px #F05A1A;
    padding: 5px;
    padding-bottom: 15px;
    padding-top: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(240, 90, 26, 0.05);
}

.wpbooklist-stylepak-heading-img{
    width:30px;
}

.wpbooklist-stylepak-table-num{
    font-weight: bold;
    text-align: right;
    position: absolute;
    left: 8px;
    width: 32px;
}

.wpbooklist-stylepaks-col1{
    position: relative;
    text-align: left;
    padding-left: 45px;
}

#wpbooklist-stylepak-table-container{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.wpbooklist-stylepak-table-lib{

}

.wpbooklist-stylepak-table-lib, .wpbooklist-stylepak-table-stylepak{
    display: inline-block;
}

#wpbooklist-stylepak-demo-links a{
    margin-left: 5px;
    margin-right:5px;
    width: 140px;
    display: inline-block;
}

.wpbooklist-jre-backend-localization-table{
    margin-left:auto;
    margin-right:auto;
}

.wpbooklist-jre-backend-localization-table td {
    padding: 5px;
}

#wpbooklist-save-localization{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}

#wpbooklist-add-new-library-stylepak-button{
    z-index:9;
}


#wpbooklist-bulk-edit-div{
    text-align: center;
    position: relative;
    bottom: 15px;
    height: 60px;
    overflow: hidden;
    margin-bottom:20px;
}

#wpbooklist-bulk-edit-mode-on-button{
    margin-bottom: 40px;
    position: relative;
    top: 31px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.wpbooklist-edit-img-author-div{
    display: inline-block;
    width: 90%;
}

.wpbooklist-bulk-delete-checkbox-div{
    margin-bottom:20px;
    display:none;
}

.wpbooklist-bulk-delete-checkbox-div label{
    display: inline-block;
    margin-bottom: 4px;
}

#wpbooklist-bulk-edit-mode-delete-checked{

}

#wpbooklist-bulk-edit-mode-on-div button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}


/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 3.6%;
}
.col:first-child { margin-left: 2%; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 30.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
    .col {  margin: 1% 0 1% 0%; }
    .span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

.wpbooklist-home-extension-excerpt{
    margin-bottom:0;
}
.section li{
    list-style:none;
    display:flex;
    margin:4px;
}

.section li:before{
   content: '';
    display: inline-block;
    height: 17px;
    width: 17px;
    margin-right: 5px;
    position: relative;
    top: 2px;
    background-image: url(http://wpbooklist.com/wp-content/plugins/wpbooklist/assets/img/icons/open-book.svg);
}

.wpbooklist-home-title-span{
    text-align: center;
    width: 100%;
    display: block;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 10px;
    font-size: 18px;
}

.wpbooklist-home-cta-button:hover{
    color:#F05A1A;
    background-color:white;
    border: 1px solid #E7E8E7;
}

.wpbooklist-home-cta-button{
    position: absolute;
    bottom: 25px;
    font-size: 18px;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #428bca;
    border: solid 1px #357ebd;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    padding: 10px;
    text-decoration: none;
}

#wpbooklist-extension-page-ext-div-1{
    background-color: #EC422E;
}

#wpbooklist-extension-page-ext-div-2{
    background-color: #4E76B6;
}

#wpbooklist-extension-page-ext-div-3{
    background-color: #13921D;
}

#wpbooklist-extension-page-ext-div-4{
    background-color: #912882;
}

#wpbooklist-extension-page-ext-div-5{
    background-color:#FD9828;
}

#wpbooklist-extension-page-ext-div-6{
    background-color:#f05a1a;
}

#wpbooklist-extension-page-ext-div-7{
    background-color:#EF1843;
}

#wpbooklist-extension-page-ext-div-8{
    background-color:#12CACA;
}

#wpbooklist-extension-page-ext-div-9{
    background-color:#3E7982;
}

#wpbooklist-extension-page-ext-div-10{
    background-color:#0daa16;
}

#wpbooklist-extension-page-ext-div-11{
    background-color:#FDD442;
}

#wpbooklist-extension-page-ext-div-12{
    background-color:#246AB5;
}

#wpbooklist-extension-page-ext-div-13{
    background-color:#F06740;
}

#wpbooklist-extension-page-ext-div-14{
    background-color:#C89F2F;
}

.wpbooklist-extension-page-ext-div{
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
    height:175px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.wpbooklist-extension-p, .wpbooklist-extension-p-bundle-ext{
    text-align: center;
    font-size: 35px;
    font-style: italic;
    color: white;
    margin: 0;
    margin-top: 28px;
    font-variant: small-caps;
    line-height:1.1;
}

.wpbooklist-extension-p-bundle-ext{
    position:relative;
    top:8px;
    font-size:25px;
}

.wpbooklist-top-line-span{
    position: absolute;
    width: 90%;

    background-color: #E7E8E7;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    top: 320px;
}

.wpbooklist-in-ext-desc-a{
    color:#4F97CE;
}

.wpbooklist-to-download-page{
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    text-align: center;
    font-size:12px;
}

.wpbooklist-extension-icon-img{
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 40px;
}

.wpbooklist-extension-title{
    font-size: 18px;
    margin-bottom: 10px;
    font-style: italic;
    text-align:center;
    display:none;
}

.wpbooklist-extension-img{
    border-radius:5px;
    margin-bottom:10px;
    width: 48px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    top: 30px;
}

.wpbooklist-extension-excerpt{
    margin-bottom: 90px;
    font-size: 13px;
    text-align: center;
}

.wpbooklist-excerpt-span, .wpbooklist-excerpt-span-home{
    display: inline-block;
    text-align: center;
    margin-bottom: 0px;
    position: relative;
    bottom: 20px;
    font-size: 15px;
    height:60px;
    font-style:italic;
}

/*  GRID OF TWO  */
.span_2_of_2 {
    width: 100%;
}
.span_1_of_2 {
    width: 46%;
    margin-bottom: 40px;
    border-radius: 5px;
    height:355px;
    position:relative;
    text-align:center;
    position:relative;
}

.span_1_of_2 ul{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    display: inline-block;
    right: 0;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
    .col { 
        margin: 1% 0 1% 0%;
    }
}

.wpbooklist-extensions-purchase-button-link a:hover{
    background-color:#F05A1A
}

.wpbooklist-extensions-purchase-button-link a{
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    background-color: #4F97CE;
    width: 185px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    text-decoration: none;

}

#wpbooklist-extensions-page-img-link{
    text-decoration:none;
}

.wpbooklist-extension-img-bundle-mult {
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    top: 20px;
}

.wpbooklist-bookswapper-details-div span{
    margin-bottom: 7px;
    display: inline-block;
}

.wpbooklist-bookswapper-details-div button{
    margin-bottom:40px;
}

.wpbooklist-bookswapper-details-div{
    text-align:center;
    overflow: hidden;
}

.wpbooklist-bookswapper-details-titles{
    font-weight: bold;
    font-size:15px;
    font-style: italic;
}

.wpbooklist-bookswapper-details-line{
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    width: 30%;
    background-color: black;
    margin-bottom: 5px;
}

.wpbooklist-bookswapper-details-img{
    width: 18px;
    position: relative;
    right: 4px;
    top: 3px;
}

.wpbooklist-bookswapper-checkin-img{
    width: 15px;
    position: relative;
    top: 4px;
}

.wpbooklist-bookswapper-checkin{
    background-color: #F05A1A;
    color: white;
    width: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    font-size: 11px;
    padding-bottom: 7px;
    border-radius: 5px;
    cursor: pointer;
}

.wpbooklist-bookswapper-approve-request, .wpbooklist-bookswapper-deny-request{
    background-color: #F05A1A;
    color: white;
    width: 130px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    font-size: 11px;
    padding-bottom: 7px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.wpbooklist-bookswapper-deny-waitlist-request{
    background-color: #F05A1A;
    color: white;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    font-size: 11px;
    padding-bottom: 7px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}




.wpbooklist-edit-book-indiv-div-class .wpbooklist-bookswapper-show-details-button{
    padding-right: 19px;
}

.wpbooklist-bookswapper-details-cancel{
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    text-align: center;
    margin-top: 60px;
    border: solid 1px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.wpbooklist-bookswapper-pending-success-results{
    position: relative;
    bottom: 45px;
}

@media only screen and (max-width: 700px) {
    .span_2_of_2, .span_1_of_2 { 
        width: 100%; 
        margin-left: 0px!important;
    }
}

.wpbooklist-jre-cover-shortcode-class-sub-ul{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#wpbooklist-notice-holder{
    line-height:1.6;
}

.wpbooklist-my-notice-dismiss-forever{
    background-color: #F05A1A;
    color: white;
    width: 100px;
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
}

#wpbooklist-cancel-reorder-button{
    position: relative;
    bottom: 170px;
    opacity: 0;
    z-index:-9;
}

#wpbooklist-reorder-button{
    position: relative;
    bottom: 180px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.wpbooklist_delete_custom_lib, #wpbooklist-dynamic-shortcode-button{
    width:160px;
    margin-left: 10px;
}

#wpbooklist-facebook-link-div{
    text-align: center;
}

#wpbooklist-editbook-form #wpbooklist-editbook-bn-link, #wpbooklist-editbook-form #wpbooklist-editbook-itunes-link, #wpbooklist-editbook-form #wpbooklist-editbook-kobo-link {
    width: 161%;
}




#wpbooklist-modal-title{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    display: inline;
    position: relative;
    bottom: 12px;
    left: 6px;
    margin-bottom: 0;
}

#wpbooklist-modal-reason-div div{
    margin-top: 5px;
}

#wpbooklist-modal-reason-div label{

}

#wpbooklist-modal-reason-div{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#jre-domain-modal-button-div{
    display:inline-block;
}

#wpbooklist-suggested-feature-div{
    height: 0px;
    overflow: hidden;
    margin: 0px!important;
    position:relative;
}

#wpbooklist-suggested-feature-div textarea{
    width: 400px;
    margin-bottom: 0px;
}

#wpbooklist-suggested-feature-div label{
    text-align: center;
    display: block;
    line-height: 1.4;
}


    

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#wpbooklist-modal-desc{
    max-width:500px;
    margin-left: auto;
    margin-right: auto;
}

#wpbooklist-modal-email-div{
    margin-top: 40px;
}

#wpbooklist-modal-textarea{
    width: 100%;
    margin-top: 10px;
}

#wpbooklist-modal-close{
    margin-top: 30px;
    font-size: 13px;
    font-style: italic;
    cursor: pointer;
    padding: 10px;
    background-color: #F5F4F5;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
}

#wpbooklist-modal-submit{
    background-color: #F05A1A;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    color: white;
    padding: 10px;
    margin-top: 35px;
    box-shadow: inset 0 -3px 0 rgba(0,0,0,.1);
    border-radius: 3px;
    cursor:pointer;
}

#wpbooklist-modal-submit:hover{
    box-shadow: none;
}

#wpbooklist-modal-email-div label{
    display: block;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    text-align:center;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor:pointer;
    display:none;
}

.wpbooklist-storytime-word-actual{
   font-weight:bold;
   font-style:italic; 
}

.wpbooklist-storytime-p-1{
    font-style: italic;
    font-weight: bold;
    font-size: 22px!important;
    position:relative;
    padding-top:20px;
    margin-bottom: 0px;
}

.wpbooklist-storytime-p-2{
    font-size: 20px!important;
    font-weight: bold;
    position: relative;
    margin-top: 0px;
}

.wpbooklist-storytime-shocked-img{
    width: 40px;
    bottom: -4px;
    position: absolute;
    margin-left: 5px;
}

.wpbooklist-storytime-patreon-img{
    width: 104px;
    position: relative;
    top: 7px;
    margin-left: 6px;
}

.wpbooklist-storytime-signup-div-left p, .wpbooklist-storytime-signup-div-right p{
    margin:0px;
}

.wpbooklist-storytime-signup-div-left .wpbooklist-storytime-signup-button-p, .wpbooklist-storytime-signup-div-right .wpbooklist-storytime-signup-button-p{
    font-size:17px;
}

.wpbooklist-storytime-patreon-div{
    background-color: #F86631;
    border-radius: 3px;
    border: solid 1px #F05A1A;
    box-shadow: 4px 4px 4px 1px #555;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    color:white;
    text-shadow: 1px 1px black;
    height:584px;
    margin-bottom:150px;
    padding-left: 5px;
    padding-right: 5px;

}

.wpbooklist-storytime-for-just-link, #wpbooklist-storytime-for-demo-link{
    color: #fff;
    font-size: 18px;
    font-variant: small-caps;
    font-weight: bold;
    text-decoration: none;
    background-color: #00a0d2;
    padding-left: 4px;
    padding-right: 6px;
    padding-bottom: 3px;
    border-radius: 3px;
    font-style: italic;
}

.wpbooklist-storytime-for-just-link:hover, #wpbooklist-storytime-for-demo-link:hover{
    background-color: transparent;
    color: white;
    text-decoration: underline;
}



.wpbooklist-storytime-patreon-div div p{
    font-size:15px;
}

.wpbooklist-storytime-patreon-div ul{
    text-align: center;
}

.wpbooklist-storytime-patreon-div ul li{
    font-weight: bold;
    font-style: italic;
    font-size: 17px;
    margin-bottom: 10px;
}

.wpbooklist-storytime-tilde{
    font-weight: normal;
}

.wpbooklist-storytime-for-just-link span{
    font-size:18px;
    font-style:italic;
}

.wpbooklist-storytime-signup-div{
    display: flex;
    text-align: center;
    cursor:pointer;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 80px;
}

.wpbooklist-storytime-signup-div .wpbooklist-storytime-signup-div-left, .wpbooklist-storytime-signup-div .wpbooklist-storytime-signup-div-middle, .wpbooklist-storytime-signup-div .wpbooklist-storytime-signup-div-right{
    display: inline-block;
    width: 33.3%;
}

.wpbooklist-storytime-signup-div-middle img{
    width:50px;
    position: relative;
    top: 5px;
}

.wpbooklist-storytime-signup-div-right img, .wpbooklist-storytime-signup-div-left img{
    width: 40px;
}

.wpbooklist-storytime-signup-div-left img{
    border: 1px solid black;
    border-radius: 3px;
}

.wpbooklist-storytime-signup-div-left, .wpbooklist-storytime-signup-div-right{
    box-shadow: 4px 4px 4px 1px #333;
    padding-bottom: 10px;
    background-color: #fff;
    border-radius: 8px;
    padding-top: 10px;
    border: solid 1px #444;
    color: black;
    text-shadow: none;
}

.wpbooklist-storytime-signup-div-left:hover, .wpbooklist-storytime-signup-div-right:hover{
    box-shadow:none;
}

.wpbooklist-storytime-signup-button-div, .wpbooklist-storytime-signup-button-p{
    font-weight: bold;
}

.wpbooklist-storytime-signup-button-div{
    margin-bottom: 5px!important;
}

.wpbooklist-storytime-reader-top-cont{
    width: 500px;
    height: 700px;
    border: solid 1px #CCCCCC;
    margin-left: auto;
    margin-right: auto;
    box-shadow: inset 0px 0px 6px 1px #BBBBBB;
    margin-bottom:180px;
}

#wpbooklist-storytime-reader-inner-cont{
    width: 480px;
    height: 680px;
    border: solid 1px #DDDDDD;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color:white;
    box-shadow: inset 0px 0px 4px 1px #999;
    position: relative;
}

.wpbooklist-storytime-reader-top-cont{
    border-radius:3px;
    background-color:#DEDEDE;
}

.wpbooklist-storytime-reader-titlebar-div-1 img{
    width:35px;
}

.wpbooklist-storytime-reader-titlebar-div-1 p{
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    position: relative;
    bottom: 13px;
    margin-bottom: 0px;
}

#wpbooklist-storytime-reader-titlebar-div-2 h2{
    text-align: center;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 10px;
}

#wpbooklist-storytime-reader-titlebar-div{
    padding-left: 10px;
    padding-top: 5px;
    background-color: #eee;
    margin: 2px;
    border: solid 1px #ddd;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

#wpbooklist-storytime-reader-provider-div{
    display: flex;
    position: absolute;
    bottom: 0;
    padding: 5px;
    background-color: #eee;
    margin: 2px;
    border: solid 1px #ddd;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    height: 115px;
}

#wpbooklist-storytime-reader-provider-div-1{

}

#wpbooklist-storytime-reader-provider-div-2{
    margin-left: 10px;
}

#wpbooklist-storytime-reader-provider-div-1 img{
    width: 60px;
}

#wpbooklist-storytime-reader-provider-div-2 #wpbooklist-storytime-reader-provider-p-1{
    text-align: left!important;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: bold;
    border: solid 1px black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

#wpbooklist-storytime-reader-provider-div-2 #wpbooklist-storytime-reader-provider-p-2{
    text-align: left!important;
    margin: 0;
    margin-top: 5px;
}

#wpbooklist-storytime-reader-pagination-div{
    display: flex;
    position: absolute;
    width: 99%;
    margin: 2px;
    margin-bottom: 0px;
    bottom: 120px;
    background-color: #F4F2F3;
    border: solid 1px #eee;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    height:0px;
    opacity:0;
}

#wpbooklist-storytime-reader-pagination-div-1{
    position: absolute;
    left: 0;
}

.wpbooklist-storytime-reader-pagination-div-2{
    width:100%;
}

#wpbooklist-storytime-reader-pagination-div-3{
    position: absolute;
    right: 0;
}

#wpbooklist-storytime-reader-pagination-div-1:hover, #wpbooklist-storytime-reader-pagination-div-3:hover{
    background-color:#BEBDBE;
    box-shadow: 1px 1px 1px black;
}

#wpbooklist-storytime-reader-pagination-div-1, #wpbooklist-storytime-reader-pagination-div-3{
    cursor:pointer;
}

#wpbooklist-storytime-reader-pagination-div-1 img, #wpbooklist-storytime-reader-pagination-div-3 img{
    width: 18px;
    cursor: pointer;
    margin: 8px;
}



#wpbooklist-storytime-reader-selection-div-1-inner-1{
    text-align: center;
    margin-bottom: 10px;
    overflow: auto;
    height: 466px;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

#wpbooklist-storytime-reader-selection-div-1-inner-1 select{
    margin-top:10px;
}

#wpbooklist-storytime-reader-selection-div-1-inner-2{
    height: 0;
    overflow: hidden;
    opacity:0;
    width: 99%;
    margin: 2px;
    position: relative;
    bottom: 12px;
    background-color: #F4F2F3;
    border: solid 1px #eee;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    cursor:pointer;
}

#wpbooklist-storytime-reader-selection-div-1-inner-2 p{
    margin:14px;
    text-align: center;
    font-size: 13px;
}

#wpbooklist-storytime-reader-selection-div-1-inner-2 img{
    position: absolute;
    right: 45px;
    width: 25px;
    top: 10px;
}

#wpbooklist-storytime-reader-content-div{
    opacity:0;
    padding: 15px;
    margin: 2px;
    font-size: 15px;
    line-height: 1.15;
}

.wpbooklist-storytime-reader-pagination-div-2-inner span{
    position: relative;
    bottom: 4px;
}

.wpbooklist-storytime-listed-story{
    border-radius: 3px;
    padding: 5px;
    border: 1px solid #CCCCCC;
    cursor: pointer;
    box-shadow: 1px 1px 1px -1px black;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.wpbooklist-storytime-listed-story:hover{
    background-color:#eeeeee;
}

.wpbooklist-storytime-patreon-line{
    border: solid 1px #555;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

.wpbooklist-storytime-demo-top-cont img{
    width: 38px;
    position: absolute;
    right: -4px;
    margin-left: auto;
    margin-right: auto;
    bottom: -8px;
}

.wpbooklist-storytime-demo-top-cont span{
    width: 165px;
    display: inline-block;
    margin-right: 4px;
    text-align: left;
    position: relative;
    top: 8px;
    line-height: 1;
    font-size: 27px;
    color: #F05A1A;
    text-shadow: 1px 1px 1px black;
}

.wpbooklist-storytime-demo-top-cont p{
    font-size: 40px;
    font-weight: bold;
    position: relative;
    bottom: -15px;
}

.wpbooklist-storytime-provider-advert-div{
    position: relative;
    bottom: 72px;
}

.wpbooklist-storytime-row-div{
    margin:10px;
}

.wpbooklist-storytime-row-div label{
    
}

.wpbooklist-storytime-row-div input{
    float:right;
}

#wpbooklist-storytime-settings-inner{
    width: 430px;
    margin-left: auto;
    margin-right: auto;
}

#wpbooklist-storytime-settings-input-6{
    float: none;
    width: 50px;
}

#wpbooklist-storytime-row-div-6{
    text-align: center;
}

#wpbooklist-storytime-settings-cont{
    margin-top: 50px;
}

#wpbooklist-storytime-settings-cont p{
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-weight: bold;
    font-style: italic;    
}

.wpbooklist-storytime-settings-save-div{
    text-align: center;
    margin-top: 45px;
}

#wpbooklist-storytime-notify-div p{

}

#wpbooklist-storytime-notify-span1{
    font-style: italic;
    font-weight: bold;
}

#wpbooklist-storytime-notify-span2{
    font-weight: bold;
}

#wpbooklist-storytime-notify-div h2{
    display: inline-block;
    font-size: 25px;
    margin-top: 0;
    position: relative;
    bottom: 5px;
}

#wpbooklist-storytime-notify-span-div-img-1{
    width: 30px;
    position: absolute;
    margin-left: auto;
    margin-right: auto!important;
    right: 5px;
    bottom: -5px;
}

#wpbooklist-storytime-notify-span-div1{
    font-size:23px;
}

#wpbooklist-storytime-notify-span-div2{
    font-size: 20px;
    margin-top: 2px;
    display: inline-block;
    font-style: italic;
}


#wpbooklist-storytime-notify-span-div{
    display: inline-block;
    position: relative;
    width: 133px;
    line-height: 1;
    text-align: left;
    top: 15px;
    text-shadow: 1px 1px #ddd;
    color: #F05A1A;
    font-weight: bold;
}

#wpbooklist-storytime-notify-div img{
    max-width: 100px;
}

#wpbooklist-storytime-notify-div-inner-1{
    margin-right: 15px;
    max-width:100px;
    display:inline-block;
    vertical-align:top;
}

#wpbooklist-storytime-notify-div-inner-2{
    display:inline-block;
    text-align: center;
}

#wpbooklist-storytime-notify-div .wpbooklist-my-notice-dismiss-forever{
    height: 22px;
    width: 60px;
    float: right;
    position: relative;
    top: 107px;
    left: 25px;
    text-align: center;
}

#wpbooklist-storytime-reader-provider-div-delete{
    position: absolute;
    bottom: -11px;
    left: 0;
    right: 0;
    opacity:0;
    text-align:center;
}

#wpbooklist-storytime-reader-provider-div-delete-p{
    font-size: 11px;
    color: #0073aa;
    text-decoration: underline;
    font-style: italic;
    cursor:pointer;
    pointer-events:none;
    display: inline-block;
}

#wpbooklist-storytime-reader-provider-div-delete-p:hover{
    color:#00a0d2;
}

.wpbooklist-storytime-reader-top-cont .wpbooklist-content-actual-title{
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 16px;
    font-style: italic;
}