.wpbooklist-admin-tp-container{
    border-style: solid;
    border-color: #F05A1A;
    border-width: 1px;
    padding: 10px;
    width: 70%;
    border-radius: 10px;
    margin: 25px;
    background-color: white;
    box-shadow: 10px 10px 10px #F05A1A;
}

.wpbooklist-admin-tp-top-title{
    text-align: center;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px;
    border-style: solid;
    width: 100%;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 18px;
    text-align: center;
}

#wpbooklist-admin-tp-advert-site-div{
    text-align: center;
    font-variant: small-caps;
    display: inline-block;
    width: 50%;
    margin:20px;
}

#wpbooklist-admin-tp-advert-site-div img{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#wpbooklist-admin-tp-advert-visit-me-title{
    font-variant: small-caps;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 5px;
    margin-top:20px;
}

#wpbooklist-admin-tp-advert-email-me{
    text-align: center;
    margin-left: auto;
    width: 70%;
    margin-right: auto;
    font-size: 16px;
    font-weight: bold;
}

#wpbooklist-admin-tp-advert-money-container{
    text-align:center;
}

#wpbooklist-admin-tp-advert-money-container form{
    display: inline-block;
}

#wpbooklist-patreon-link{
    display: inline-block;
    margin: 10px;
}

#wpbooklist-patreon-img{
    width: 100px;
}

.wpbooklist-admin-tp-title-icon{
    width: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#wpbooklist-admin-tp-advert-visit-me-link{
    text-decoration:none;
    font-size: 20px;
    margin-bottom: 30px;
    display: block;
}

#wpbooklist-flex-container{
    display:flex;
}