#colorbox html,  #colorbox body,  #colorbox div,  #colorbox span,  #colorbox applet,  #colorbox object,  #colorbox iframe,
h1,  #colorbox h2,  #colorbox h3,  #colorbox h4,  #colorbox h5,  #colorbox h6,  #colorbox blockquote,  #colorbox pre,
a,  #colorbox abbr,  #colorbox acronym,  #colorbox address,  #colorbox big,  #colorbox cite,
del,  #colorbox dfn,  #colorbox img,  #colorbox ins,  #colorbox q,  #colorbox s,
small,  #colorbox strike,  #colorbox sub,  #colorbox sup,  #colorbox tt, #colorbox u,  #colorbox center,
dl,  #colorbox dt,  #colorbox dd,  #colorbox ol,  #colorbox ul,  #colorbox li,
fieldset,  #colorbox form,  #colorbox label,  #colorbox legend,
table,  #colorbox caption,  #colorbox tbody,  #colorbox tfoot,  #colorbox thead,  #colorbox tr,  #colorbox th,  #colorbox td,
article,  #colorbox aside,  #colorbox canvas,  #colorbox details,  #colorbox embed,  #colorbox 
figure,  #colorbox figcaption,  #colorbox footer,  #colorbox header,  #colorbox hgroup,  #colorbox 
menu,  #colorbox nav,  #colorbox output,  #colorbox ruby,  #colorbox section,  #colorbox summary,
time,  #colorbox mark,  #colorbox audio,  #colorbox video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}



/* HTML5 display-role reset for older browsers */
#colorbox article,  #colorbox aside,  #colorbox details,  #colorbox figcaption,  #colorbox figure,  #colorbox 
footer,  #colorbox header,  #colorbox hgroup,  #colorbox menu,  #colorbox nav,  #colorbox section {
    display: block;
}
body {
    line-height: 1;
}
#colorbox ol,  #colorbox #colorbox ul {
    list-style: none;
}
#colorbox blockquote,  #colorbox q {
    quotes: none;
}
#colorbox blockquote:before,  #colorbox blockquote:after,
q:before,  #colorbox q:after {
    content: '';
    content: none;
}
#colorbox table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden; -webkit-transform: translate3d(0,0,0);}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; border-radius:3px;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000; opacity: 0.9; filter: alpha(opacity = 90);}
#colorbox{outline:0;}

    #cboxContent{background:#fff; overflow:visible;}

        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:5px; text-align:center;}

        #cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}

        #cboxTitle{position:absolute; bottom:-25px; left:0; text-align:center; width:100%; font-weight:bold; color:#7C7C7C;}
        @media screen and (max-width: 767px) {
            #cboxTitle{
                display:none!important;
            }
        }
        #cboxCurrent{position:absolute; bottom:-25px; left:58px; font-weight:bold; color:#7C7C7C;}


        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxPrevious{left:0px; background-position: -51px -25px;}
        #cboxPrevious:hover{background-position:-51px 0px;}
        #cboxNext{left:27px; background-position:-75px -25px;}
        #cboxNext:hover{background-position:-75px 0px;}
        #cboxClose{right:0; background-position:-100px -25px;}
        #cboxClose:hover{background-position:-100px 0px;}

        .cboxSlideshow_on #cboxSlideshow{background-position:-125px 0px; right:27px;}
        .cboxSlideshow_on #cboxSlideshow:hover{background-position:-150px 0px;}
        .cboxSlideshow_off #cboxSlideshow{background-position:-150px -25px; right:27px;}
        .cboxSlideshow_off #cboxSlideshow:hover{background-position:-125px 0px;}



#wpbooklist_cover_image_popup {
    width: 150px;
}

#colorbox #wpbooklist_title_div{
    font-size: 22px;
}

#colorbox #wpbooklist_display_table td {
    border: none;
    padding: 0px;
    background-color: white;
    line-height: 1.2;
}

#colorbox #wpbooklist_title, #colorbox #wpbooklist_top_display_container #wpbooklist_title, #colorbox #wpbooklist_top_display_container #colorbox .wpbooklist_description_p, #colorbox .wpbooklist_description_p, #colorbox #wpbooklist_backup_download {
    display: inline;
    padding-bottom: 5px;
    vertical-align: middle;
    font-size: 22px;
    font-style: italic;
    min-width: 195px;
    max-width: 275px;
    -webkit-text-stroke-width: 1px;
    -moz-text-stroke-width: 1px;
    -ms-text-stroke-width: 1px;
    text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: #888;
    margin-bottom: 10px;
}

#colorbox #wpbooklist_display_table_2 td {
    display: inline;
    vertical-align: initial;
}

#colorbox #wpbooklist_display_table_2 tr {
    background-color: initial;
}

#colorbox #wpbooklist_display_table_2 {
    width: 400px;
    border: none;
    background: white;
    background-color: white;
    box-shadow: initial;
    text-shadow: initial;
    margin-bottom: 0px;
    color: black;
}

#colorbox #wpbooklist_display_table {
    display: flex;
    min-width: 20%;
    border-left: 1px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-style: solid;
    padding-left: 10px;
    border-color: #e1e1e1;
    line-height: 23px;
    font-size: 13px;
}

#colorbox #wpbooklist_top_top_div {
    padding: 10px;
    padding-bottom: 0px;
    overflow: hidden;
    text-align: left;
}

#colorbox #wpbooklist_top_display_container {
    float: left;
    width: 200px;
}

#colorbox #wpbooklist_display_image_container {
    min-width: 145px;
    float: left;
}

#colorbox #wpbooklist_top_display_container > table {
    width: 50%;
    height: 50%;
    border: none;
    background: white;
    background-color: white;
    box-shadow: initial;
}

#colorbox #wpbooklist_top_display_container table {
    table-layout: initial;
}

#colorbox #wpbooklist_top_display_container table tr {
    border: none;
}

#colorbox #wpbooklist_top_display_container #wpbooklist_image_saved_border {
    border-color: rgba(136,136,136, 0.4);
    background-color: white;
}

#colorbox #wpbooklist_top_display_container table td, #colorbox #wpbooklist_top_display_container table > td {
    vertical-align: top;
    padding-right: 20px;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border: none;
    background-color: white;
    background: white;
    box-shadow: initial;
    text-shadow: initial;
}

#colorbox #wpbooklist_top_display_container input[type="submit"], #colorbox #form_movement_edit input[type="submit"], #colorbox #wpbooklist_delete_book_submit input[type="submit"], #colorbox #wpbooklist_add_book_submit input[type="submit"] {
    border-radius: 10px!important;
    box-shadow: inset 0px 0px 5px rgba(136, 136, 136, 0.5)!important;
    border-radius: 10px!important;
    box-shadow: inset 0px 0px 5px rgba(136, 136, 136, 0.5)!important;
    border: none;
    padding: 9px 22px;
    font-size: 12px;
}

#colorbox #wpbooklist_desc_button {
    margin-top: 20px;
    white-space: normal;
    line-height: 1.7;
    display: none;
}

#colorbox .wpbooklist-share-text {
    margin: 0;
    font-style: italic;
    font-variant: small-caps;
    margin-top: 20px;
    color: black;
}

#colorbox .wpbooklist-line-4 {
    width: 100%;
    height: 1px;
    background-color: rgba(136,136,136, 0.4);
    position: relative;
    margin-bottom: 13px;
}

#colorbox .addthis_sharing_toolbox {
    display: inline-block;
}

#colorbox #wpbooklist_desc_id {
    padding: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    border: 0;
    padding-left: 10px;
    border-color: #e1e1e1;
}

#colorbox .wpbooklist-similar-featured-div {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

#colorbox #wpbooklist-desc-title-id {
    display: block;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

#colorbox #wpbooklist_description_p {
    display: inline-block;
    width: 100%;
    min-width: initial;
    max-width: initial;
}

#colorbox .wpbooklist_desc_p_class {
    line-height: 1.5;
    border: solid 1px #e1e1e1;
    border-radius: 5px;
    padding: 20px;
    margin: 0;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

#colorbox .wpbooklist-line-2, #colorbox .wpbooklist-line-5 {
    width: 100%;
    height: 1px;
    background-color: rgba(136,136,136, 0.4);
    position: relative;
    top: 7px;
    margin-top: 20px;
}

#colorbox .wpbooklist-purchase-title {
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: 10px;
    font-variant: small-caps;
    margin-top:0px;
    margin-bottom: 0;
    color: black;
}

#colorbox .wpbooklist-line, #colorbox .wpbooklist-line-6 {
    width: 100%;
    height: 1px;
    background-color: rgba(136,136,136, 0.4);
    position: relative;
    top: 12px;
}

#colorbox .wpbooklist-similar-image {
    margin-bottom: 15px;
    width: 75px;
}

#colorbox #wpbooklist-review-iframe {
    height: 350px;
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 60px white;
    width: 100%;
}

.wpbooklist-purchase-img, .wpbooklist-purchase-img:hover{
    text-decoration:none;
}

#colorbox .wpbooklist-purchase-img img{
    width: 43px;
    top: 8px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 5px;
    display: inline-block;
    text-decoration:none;
}

#colorbox .addthis_sharing_toolbox .at-icon-wrapper {
    width: 30px!important;
    height: 30px!important;
    border-radius: 100px;
}

#colorbox .addthis_sharing_toolbox .at-icon {
    width: 30px!important;
    height: 30px!important;
}


#colorbox .wpbooklist-similar-titles-table{
    width:100%;
    border:none!important;
}

#colorbox .wpbooklist-similar-titles-table tr{
    background:white!important;
}

#colorbox .wpbooklist-similar-titles-table td{
    text-align:center;
}

#colorbox #wpbooklist-itunes-img{
    width:48px;
}

#colorbox .wpbooklist-line-3 {
    width: 100%;
    height: 1px;
    background-color: rgba(136,136,136, 0.4);
    position: relative;
    bottom: 15px;
}

#colorbox #wpbooklist-purchase-title-id-bottom{
    margin-top:3px;
    margin-bottom:3px;
    text-align:center;
}

#wpbooklist-similar-titles-id{
    margin-top: 20px;
    display: inline-block;
}

#colorbox .wpbooklist_description_p{
    margin-top: 20px;
    margin-bottom: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

#colorbox #wpbooklist-similar-titles-id{
    padding-bottom: 20px;
}

#colorbox .wpbooklist_kindle_p_class{
    margin-top: 10px;
    margin-bottom: 50px;
    color: black;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


#colorbox .wpbooklist_kindle_p_class iframe{
    width: 101%;
    height: 250px;
    border: none;
    margin-left: 0.5%;
}

.wpbooklist_kindle_page_post_class iframe{
    height:265px;
}

#colorbox #wpbooklist-bookswapper-colorbox-avail{
    display: inline;
    padding-bottom: 5px;
    vertical-align: middle;
    font-size: 22px;
    font-style: italic;
    min-width: 195px;
    max-width: 275px;
    -webkit-text-stroke-width: 1px;
    -moz-text-stroke-width: 1px;
    -ms-text-stroke-width: 1px;
    text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: #888;
    margin-bottom: 10px;
}

#wpbooklist-bookswapper-colorbox-button-request{
    width:155px;
    margin-bottom:10px;
}

#colorbox #wpbooklist-bookswapper-book-unavailable-span{
    display: inline;
    padding-bottom: 5px;
    vertical-align: middle;
    font-size: 13px;
    font-style: normal;
    font-style: normal;
    min-width: 195px;
    max-width: 275px;
    -webkit-text-stroke-width: 1px;
    -moz-text-stroke-width: 1px;
    -ms-text-stroke-width: 1px;
    text-stroke-width: 1px;
    /* -webkit-text-stroke-color: black; */
    color: #888;
    margin-bottom: 10px;
    color: red;
}

#colorbox #wpbooklist-bookswapper-book-available-span{
    display: inline;
    padding-bottom: 5px;
    vertical-align: middle;
    font-size: 14px;
    font-style: normal;
    min-width: 195px;
    max-width: 275px;
    -webkit-text-stroke-width: 1px;
    -moz-text-stroke-width: 1px;
    -ms-text-stroke-width: 1px;
    text-stroke-width: 1px;
    /* -webkit-text-stroke-color: black; */
    color: #888;
    margin-bottom: 10px;
    color: green;
}

#colorbox #wpbooklist-bookswapper-colorbox-div input{
    width: 250px;
    display: inline-block;
    margin-bottom: 10px;

}

#colorbox #wpbooklist-bookswapper-colorbox-button-waitlist{
    width: 155px;
    margin-bottom:10px;
}

#colorbox #wpbooklist-bookswapper-colorbox-div label{
    margin-right:10px;
    display:block;
}

#colorbox #wpbooklist-bookswapper-colorbox-status{
    margin-bottom: 20px;
}

#colorbox #wpbooklist-bookswapper-colorbox-statusactual{
    display: block;
    margin-bottom: 10px;
}

#colorbox #wpbooklist-bookswapper-wait-or-request{
    line-height: 1.5;
    border: solid 1px #e1e1e1;
    border-radius: 5px;
    padding: 20px;
    margin: 0;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@keyframes rotate360 {
  to { transform: rotate(360deg); }
}

#colorbox .wpbooklist-spinner{
    opacity: 0;
    height: 20px;
    width: 20px;
    margin: 10px auto;
    animation: 0.5s rotate360 infinite linear; ;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-top: 1px solid #F05A1A;
    border-radius: 100%;
    position: relative;
}

#colorbox #wpbooklist-add-book-success-span {
    font-style: italic;
    color: green;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: -15px;
    display: block;
}

#colorbox .wpbooklist_google_p_class {
    line-height: 1.5;
    border: solid 1px #e1e1e1;
    border-radius: 5px;
    padding: 0px;
    margin: 0;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: black;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 600px;
}

#colorbox #google-preview-no-results-div {
    border: solid 1px #e1e1e1;
    border-radius: 5px;
    padding: 20px;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

#colorbox #wpbooklist-google-title-id{
    margin-bottom:10px;
}

#cboxClose, #cboxBottomLeft, #cboxBottomCenter, #cboxBottomRight, #cboxTopLeft, #cboxTopCenter, #cboxTopRight, #cboxMiddleLeft, #cboxMiddleRight{
    display:none;
}
