#wpbooklist-hide-this-div{
    display:none!important;
}

#wpbl-pagetd-left-row{
	width: 25%;
	margin-right:20px;
}

#wpbl-posttd-left-row{
	margin-right:40px;
	width:25%;
}

#wpbl-pagetd-right-row{
	width: 75%;
}

#wpbl-posttd-right-row{
	width: 66.6%;
}

#wpbl-posttd-left-row, #wpbl-posttd-right-row, #wpbl-pagetd-left-row, #wpbl-pagetd-right-row{
	display:inline-block;
}

#wpbl-posttd-right-row, #wpbl-pagetd-right-row{
	vertical-align:top;
}

#wpbl-posttd-rating-img, #wpbl-posttd-img, #wpbl-pagetd-rating-img, #wpbl-pagetd-img{
	width:200px;
}

#wpbl-posttd-top-container, #wpbl-pagetd-top-container{
	display:flex;
	margin-top:20px;
}

#wpbl-posttd-book-details-div span, #wpbl-pagetd-book-details-div span{
	font-weight:bold;
}

#wpbl-posttd-book-description-div, #wpbl-pagetd-book-description-div{
	margin-top:40px;
}

#wpbl-posttd-top-purchase-div, #wpbl-pagetd-top-purchase-div{
	margin-top:20px;
}

#wpbl-posttd-book-title, #wpbl-pagetd-book-title{
	margin-bottom:0px;
}

.wpbl-posttd-wpbooklist-purchase-img img, .wpbl-pagetd-wpbooklist-purchase-img img{
	width:50px;
	margin-right: 5px;
}

#wpbl-posttd-top-purchase-div .wpbl-posttd-wpbooklist-purchase-img, #wpbl-pagetd-top-purchase-div .wpbl-pagetd-wpbooklist-purchase-img{
	display:inline-block;
	box-shadow:none;
}

#wpbl-pagetd-details-div .addthis_sharing_toolbox a, #wpbl-posttd-details-div .addthis_sharing_toolbox a{
	box-shadow:none;
	margin-top:5px;
}

#wpbl-posttd-purchase-title, #wpbl-pagetd-purchase-title{
	border-bottom: 1px solid;
    width: 65%;
    margin-bottom:10px;
}

#wpbl-posttd-itunes-img, #wpbl-pagetd-itunes-img{
    width: 60px;
    position: relative;
    top: 6px;
}

#wpbl-similar-div{
	display: inline-block;
    width: 100%;
}

#wpbl-similar-div img{
	width:30px;
	margin:5px;
	display:inline-block;
}

#wpbl-posttd-book-amazon-review-contents, #wpbl-pagetd-book-amazon-review-contents{
	width: 100%;
    height: 500px;
}

#wpbl-similar-div .wpbooklist-similar-link-post{
	box-shadow:none;
}

#wpbl-posttd-details-div .wpbl-posttd-share-text, #wpbl-pagetd-details-div .wpbl-pagetd-share-text, #wpbl-pagetd-details-div #wpbooklist-google-title-id, #wpbl-posttd-details-div #wpbooklist-google-title-id{
	margin: 0;
    font-style: italic;
    font-variant: small-caps;
    margin-top: 20px;
}

.at-icon{
    width: 24px!important;
    height: 24px!important;
}

.at-icon-wrapper{
    width: 24px!important;
    height: 24px!important;
}

#gr_add_to_books iframe{
	background-color:transparent;
}

#wpbl-posttd-right-row h5,#wpbl-pagetd-right-row h5{
	margin-top:20px;
	margin-bottom:10px;
}

#wpbl-posttd-post-quote, #wpbl-pagetd-page-quote{
	display: inline-block;
    margin-top: 20px;
}

#wpbooklist-quote-italic{
	font-style:italic;
}

#wpbooklist-quote-bold{
	font-weight:bold;
}

#wpbl-posttd-details-div #google-preview-div, #wpbl-pagetd-details-div #google-preview-div, #wpbl-posttd-details-div #wpbooklist-google-title-id, #wpbl-pagetd-details-div #wpbooklist-google-title-id, #wpbl-posttd-details-div #google-preview-no-results-div, #wpbl-pagetd-details-div #google-preview-no-results-div{
	display:none;
}

@media (max-width: 550px) {
	#wpbl-posttd-top-container, #wpbl-pagetd-top-container {
	    display: block;
	}

	#wpbl-posttd-left-row, #wpbl-pagetd-left-row{
		text-align:center;
	}

	#wpbl-posttd-left-row, #wpbl-posttd-right-row, #wpbl-pagetd-left-row, #wpbl-pagetd-right-row{
		width:100%;
	}

	#wpbl-posttd-rating-img, #wpbl-pagetd-rating-img{
		margin-bottom:20px;
		margin-top:20px;
	}

	.addthis_sharing_toolbox{
		display: inline-block;
	}

	#wpbl-pagetd-details-div{
		text-align:center;
	}

	#wpbl-posttd-post-quote, #wpbl-pagetd-page-quote{
		margin-bottom:40px;
	}
}